[2016-05-26 00:33] kusum007 opened #1 "Wrong FS error"
I got this Wrong Filesystem error while running the maven tests. I have built the latest snapshot versions of kafka packages.

2016-05-25 16:30:43,710 WARN  [org.apache.hadoop.hdfs.server.blockmanagement.DecommissionManager$Monitor@4163f1cd] blockmanagement.DecommissionManager (DecommissionManager.java:run(78)) - Monitor interrupted: java.lang.InterruptedException: sleep interrupted
2016-05-25 16:

[2016-05-26 19:00] PraveenSeluka commented on #1
I will add some documentation in the next couple of days - and get to state where you could run it.

[2016-05-31 10:47] bbnsumanth opened #2 "Why only last append is taken from rds when applying a wal ???"
I was going through the code of RDSWal and bumped into a doubt.Why only last record is taken from rds table for a topicPartition to make a commit.Since a single topicPartition can write data to multiple files (tempFiles) based on partitioner logic we use,I guess there is a chance that we might not commit all the temp files upon wal apply.Any clarification on this this highly appreciated.

[2016-05-31 23:49] PraveenSeluka commented on #1
Yes, this tests fail right now. In s3 flow, the temp file gets copied to the local file system (HDFS sink uses hdfs to store temp files). The tests are using HDFS fs implementation and it expects a hdfs path (not a local path) - hence its failing. Currently, I would suggest to skipTests, while we get to fixing the tests.

[2016-06-01 04:26] bbnsumanth opened #3 "Problem with reassignment of tasks when running in a distributed mode."
Since copying data is done from local to s3,How to deal with partition reassignments when running in a distributed mode?? Sink task for a particular topic partition can run on a different machine after partition reassignment and the recovery to be done after partition reassignment will fail because wal append couldn't find the file on new local storage.

[2016-06-01 05:54] PraveenSeluka commented on #3
Hi @bbnsumanth thanks for your interest in this. The recovery flow will check if the last entry in WAL is available in s3(using file read check and not list, as list is eventually consistent in s3). If not, it will actually use the last but one entry in WAL (it wont be able to recover the local file written, as it can be in a different node). I will be adding these changes this week. Can you share

[2016-06-01 18:34] kusum007 commented on #1
Okay, Thanks.

[2016-06-02 04:45] bbnsumanth commented on #3
thanks for your reply.I can be reached on sumanth.b@roadrunnr.in . Design doc will be very helpful.

[2016-06-15 05:48] alexanderdean opened #5 "Rename project"
The current name is completely un-SEOable. Why not kafka-connect-object-stores or kafka-connect-cloud-blobs

[2016-06-17 03:58] PraveenSeluka commented on #5
Hi @alexanderdean, thanks for the feedback. Although this project will provide support for all major clouds, if you are a s3 user - you would search for "kafka-connect-s3" (and thats already taken) and mostly not kafka connect object/blob store. So not sure if that would have helped a lot.

I have added kafka-connect-s3 to the description and hopefully expand README with more s3 specific details s

[2016-06-17 04:02] alexanderdean commented on #5
Thanks @PraveenSeluka - that seems like a good compromise. I'd also suggest updating the h1 in the README, maybe:

### StreamX: Kafka Connect for S3

[2016-06-17 04:03] PraveenSeluka commented on #5
ok @alexanderdean sure - will make this change.

[2016-06-20 22:30] PraveenSeluka commented on #2
This issue is resolved now. If one topicPartition writes to multiple files based on custom partitioner, it will concat all the tempFiles in comma separated fashion and store it as 1 record in database. Let me know if this sounds good.

[2016-06-20 22:31] PraveenSeluka commented on #3
We have made the WAL changes and currently it writes the tempFile to s3 itself. We will be introducing and optimization to write it to local file system instead (but this will not guarantee exactly-once delivery. there is a small corner case that can result in duplicate data)

[2016-06-29 20:31] a2mehta opened #8 "org.apache.hadoop.fs.s3a.S3AFileSystem.append not supported"
I am trying out this connector and am running into the following issue. I start the connector and then I send data to the topic it is reading from. I then stop the connector, start it again, and then continue to send data to the same topic it was reading from before. It appears that it is trying to append to the same log file as before and is throwing an exception because append is not a supported

[2016-07-05 17:40] PraveenSeluka commented on #8
Hi @a2mehta

it seems you are using FSWAL  which stores the WAL file in s3. And since S3 does not support append, it fails. We cannot use s3 to store WAL for this reason. So, we have implemented DBWAL where it stores the WAL file as database table instead. Here is an example job on how to use DBWAL. Not the properties wal.class and other db.\* properties.

{"name":"twitter connector",
"config":{
"

[2016-07-05 17:44] #5 closed

[2016-07-06 18:09] #8 closed

[2016-07-07 15:09] PraveenSeluka opened #9 "Support JSON format"

[2016-07-07 23:07] a2mehta opened #10 "Bug in S3SinkConenctorConfig"
Hello,

I pulled the latest commit and tried to run it. It resulted in the following error:

[2016-07-07 22:44:42,095] ERROR Uncaught exception in herder work thread, exiting:  (org.apache.kafka.connect.runtime.distributed.DistributedHerder:166)
**java.lang.NoSuchFieldError: config**
	at com.qubole.streamx.s3.S3SinkConnectorConfig.<clinit>(S3SinkConnectorConfig.java:64)
	at com.qubole.streamx.s3.S

[2016-07-08 15:47] PraveenSeluka commented on #10
Hi @a2mehta

Thats odd. I just did a clean compile and it compiled. S3SinkConnectorConfig is a sub-class of HdfsSinkConnectorConfig and the config variable is defined in HdfsSinkConnectorConfig. I dont see why this should fail for you, can you make sure there are no local changes done.

Thanks

[2016-07-08 17:53] a2mehta commented on #10
As a sanity check, can you tell me what directory your confluent-common jar files are and what your CLASSPATH looks like when you run connect-distributed?

Thanks

[2016-07-08 17:58] PraveenSeluka commented on #10
export CLASSPATH=$CLASSPATH:`pwd`/target/streamx-0.1.0-SNAPSHOT-development/share/java/streamx/

This is available in README of this project too. Can you do a clean compile once (just to make sure you are not picking any old artifacts)

[2016-07-08 18:57] a2mehta commented on #10
I did a fresh clone/build and the result was the same. This is what my CLASSPATH looks like for reference:

:./bin/../share/java/confluent-common/_:./bin/../share/java/kafka-serde-tools/_:./bin/../share/java/kafka-connect-hdfs/_:./bin/../share/java/kafka-connect-jdbc/_:./bin/../share/java/kafka-connect-mongo/_:/projects/streamx/target/streamx-0.1.0-SNAPSHOT-development/share/java/streamx/_

I am u

[2016-07-09 01:42] PraveenSeluka commented on #10
I think, I know the problem. You need to use Confluent 3.0.0. Looks like its picking up old HdfsSinkConnectorConfig from Confluent classpath(you have added kafka-connect-hdfs). For streamx, the development dir bundles everything thats required.

[2016-07-16 00:51] blbradley opened #11 "publish jars to Maven"
Hello! Thanks for your work.

Could you publish this to Maven? It would help many of your users.

Cheers!

[2016-07-18 17:32] PraveenSeluka commented on #11
Hi @blbradley

Thanks, we will get that done. We are working on dockerizing streamx too (which makes it easier to get started)

Thanks

[2016-07-19 23:10] a2mehta commented on #10
Hi Praveen,

It looks like that was the issue, not using Confluent 3.0.0 and it picking up the HdfsSinkConnectorConfig in the classpath. Thank you for your assistance, I will close this.

[2016-07-19 23:10] #10 closed

[2016-08-05 15:49] mcandre opened #12 "S3 Source Connector"
Could streamx also provide an S3 Source connector, for reading data from S3 back onto Kafka? This would help in a backup/restore use case.

[2016-08-19 11:54] nahguam commented on #1
Hi, Has there been any progress here fixing the existing tests (and adding tests for the S3 related code)?

[2016-08-23 21:08] m-prajapati opened #13 "java.lang.IllegalAccessError"
Hi,
I'm facing below error while running connector. Any quick guide in this ?

java.lang.IllegalAccessError: tried to access field io.confluent.connect.hdfs.HdfsSinkConnectorConfig.config from class com.qubole.streamx.s3.S3SinkConnectorConfig

-- error log
java.lang.IllegalAccessError: tried to access field io.confluent.connect.hdfs.HdfsSinkConnectorConfig.config from class com.qubole.streamx.s3.S

[2016-08-24 04:02] PraveenSeluka commented on #12
Hi @mcandre This is interesting, can you may be talk more about the use-case. Is it because, data is lost in Kafka for some reason and you need to restore back from s3, so that other consumers can read ?

This is not something in the roadmap of streamx, as its primarily sink connector - but it can expand to solve these use-cases(nice to have)

[2016-08-24 04:08] PraveenSeluka commented on #13
Do you have kafka-connect-hdfs in the classpath ? That might cause issues. Also, it works with confluent 3.0.0 version - this sounds like you have older version of it. Can you check and respond.

Thanks

[2016-08-24 14:10] m-prajapati commented on #13
Thanks Praveen for quick reply.

Yes, I'm running on confluent 3.0.0 version.  I'm not getting on kafka-connect-hdfs part, As per my understanding all required classes related kafka-connect-hdfs are in package of streamx (io.confluent.connect.hdfs).

Do I need to add any specific library that not part of it ? can you point me on this.

Mayank

[2016-08-30 10:48] PraveenSeluka commented on #13
Am not sure how confluent packages it. Mostly the classpath already contains kafka-connect-hdfs - and thats causing this issue. You might need to remove kafka-connect-hdfs from classpath. (StreamX is forked from kafka-connect-hdfs and it has some changes)

[2016-08-30 15:04] m-prajapati commented on #13
Thanks Praveen.

Finally able to make it work. one quick question, does connector support JSON format ?

[2016-09-01 04:31] ariepratama opened #14 "Add Postgresql Support"
Hi,
It will be nice if we can add postgresql support for DBWAL

[2016-09-02 03:35] PraveenSeluka commented on #13
We are currently working on adding JSON support. It will be available soon.

On Tue, Aug 30, 2016 at 8:34 PM m-prajapati notifications@github.com
wrote:

[2016-09-02 08:14] ariepratama opened #16 "Tmp File Double slash"
Hi,
I got my tmp file looks wrong, it contains double slash in the path like:
"s3://airy-poc-ingestion/topics//+tmp/avrotest/partition=0/ad91f606-8ebd-4aab-8598-335d0c566e31_tmp.avro"
"s3://airy-poc-ingestion/topics//+tmp/avrotest/partition=0/ad91f606-8ebd-4aab-8598-335d0c566e31_tmp.avro"

commited files looks just fine: "s3://airy-poc-ingestion/topics/avrotest/partition=0/avrotest+0+0000000000+00

[2016-09-02 08:21] PraveenSeluka commented on #16
Hi @ariepratama

Yes, this is due to an extra slash somewhere while creating the tmp file path. Will fix it. But it should not be causing any issue actually. Let me know if its causing issues. Thanks

[2016-09-02 08:24] PraveenSeluka commented on #14
Hi @ariepratama

this is straight forward. Since we use JDBC, we will need to add postgres jars and that will work. I see that you have created a PR, will look into it next week. Thanks for your interest.

[2016-09-02 11:36] ariepratama commented on #14
Hi @PraveenSeluka actually that was my initial assumption, turns out we need to adjust sql queries between postgresql and mysql as you can see in my PR.

[2016-09-02 11:39] ariepratama commented on #16
Hi @PraveenSeluka, actually in my case this will cause issues, because instead of writing to s3://bucket/topics, it will write to s3://bucket//topics. This will make a folder with no name if I see within the s3 console. Is that not happening on your side?

[2016-09-02 13:42] m-prajapati commented on #13
Thanks Praveen.

[2016-09-23 02:09] PraveenSeluka commented on #16
Hi @ariepratama Sorry for the late response, I dont see folder with no-name getting created. That said, I will fix this issue shortly

[2016-10-02 09:45] AmitTwingo opened #17 "InvocationTargetException when trying to run a job"
Hi,

I'm trying to submit a job -
[code]
But I get a InvocationTargetException  and then the job is killed.
My core-site.xml is -

[code]

Hadoop fs -ls s3a://test works fine.
What am I doing wrong here?

Thanks.

[2016-10-03 18:35] PraveenSeluka commented on #17
Hi @AmitTwingo, you need to provide the following (you need a DB to store WAL file)

  "db.connection.url":"jdbc:mysql://localhost:53152/streamx"
  "db.user":"xxxx"
  "db.password":xxxx"

Am working on a change to make DB WAL optional so that its easy to get started. I will add that soon

[2016-10-04 00:07] #16 closed

[2016-10-04 00:07] PraveenSeluka commented on #16
This is fixed.

[2016-10-04 17:51] PraveenSeluka commented on #17
Hi @AmitTwingo, I have made DBWAL optional and also updated the getting started section with all details. Can you try again now.

[2016-10-04 17:52] PraveenSeluka commented on #13
Am closing this issue. Regarding JSON support, please see the getting started section. You can use ByteArrayConverter and SourceFormat to copy JSON data as-is. Thanks

[2016-10-04 17:52] #13 closed

[2016-10-04 17:53] PraveenSeluka commented on #9
This is supported now. Getting started page is updated with all details. To copy JSON data, use ByteArrayConverter and SourceFormat.

[2016-10-04 17:53] #9 closed

[2016-10-04 18:03] amit-o commented on #17
Brilliant, I'll give it another try tomorrow. Thanks.

[2016-10-04 18:14] PraveenSeluka commented on #12
@mcandre am closing this issue for now. This is not in the scope of StreamX short term. I will open it, if we plan to do this.

[2016-10-04 18:14] #12 closed

[2016-10-04 18:15] #2 closed

[2016-10-04 18:15] #3 closed

[2016-10-05 06:53] amit-o commented on #17
Hi @PraveenSeluka , I'm still getting errors. I've rebuilt everything to make sure.
Here is the full error I'm getting -

It seems like it's an error while connecting to s3a, despite me being able to do it outside of streamx.
Prehaps this is a region issue? or an AWS4-HMAC-SHA256 issue? My bucket is in europe, so it is forced.

I've added -Dcom.amazonaws.services.s3.enableV4 -Dcom.amazonaws.servic

[2016-10-05 10:46] amit-o commented on #17
I found one solution for now.
I've upgraded the hadoop libraries to 2.7.3 and it seems to be working now.
Obviously haven't ran enough tests to be 100% sure but at least I can access eu-central-1.
I'm guessing hadoop 2.6.0 doesn't support the v4-only regions.

[2016-10-05 14:22] m-prajapati commented on #9
Thanks Praveen. I'll check it out.

Regards,
Mayank

On Tue, Oct 4, 2016 at 1:53 PM, Praveen notifications@github.com wrote:

[2016-10-05 18:01] PraveenSeluka commented on #17
I just found from my team that using S3A will solve this issue even with hadoop 2.6. You can try that out.

[2016-10-06 06:55] amit-o commented on #17
I have been using S3A though - bucket link and settings

[2016-10-06 18:29] PraveenSeluka commented on #17
Did you have any other additional hadoop jars in classpath ? StreamX already includes all required dependencies, including hadoop.

[2016-10-07 22:33] PraveenSeluka opened #18 "Use c3p0 for JDBC connection pooling"
StreamX DBWAL uses JDBC to communicate with mysql. If StreamX is long running - and does not get any messages, the connection  gets closed (after wait_timeout) and DBWAL fails later. To avoid this, we can use some connection pooling. The pool will renew the connection periodically.

[2016-10-14 02:17] PraveenSeluka opened #20 "Provide sample hadoop conf directory for ease-of-use"

[2016-10-17 18:10] PraveenSeluka commented on #18
https://github.com/qubole/streamx/pull/19

[2016-10-17 18:10] #18 closed

[2016-10-19 01:09] PraveenSeluka commented on #17
Hi @AmitTwingo were you able to proceed on this ?

[2016-10-19 07:57] amit-o commented on #17
Hi, sorry for the radio silence.
I didn't have any additional hadoop jars in my classpath.
After using the 2.7 jars we have switched the bucket to the default zone which worked without a problem (with the 2.6 jars).

[2016-10-26 19:29] janie128 opened #21 "JSON messages not legible in S3 saved files"
Hi,

I saw in an earlier issue that there is now support for JSON format. I have followed the README instructions, using
`key.converter=com.qubole.streamx.ByteArrayConverter value.converter=com.qubole.streamx.ByteArrayConverter`
and
`"format.class":"com.qubole.streamx.SourceFormat"`

Files are being successfully saved to S3, however, their content are not legible strings, eg.
`^A^@^@^@^A^»¯,Ú^OB^V

[2016-10-26 20:47] PraveenSeluka commented on #21
Hi @janie128

It does not do any conversion to String. It just writes out the bytes. Can you tell how you publish data to Kafka ?

Thanks

[2016-10-26 20:54] janie128 commented on #21
Hi @PraveenSeluka

I am simply using the `kafka-console-producer.sh`, and inputting messages like `{"schema":{"type":"string","optional":false},"payload":{"res":"1"}}`

The temp `block_someNumber` files have the correct messages as legible strings. It's the final files that are save in the location specified in the config "s3.url" that are garbled.

Thanks

[2016-10-27 00:14] janie128 commented on #21
@PraveenSeluka
I'm trying to understand when and how those `block_` files are being saved. They're being saved in the root of the bucket I specify (my s3.url is `s3://myBucket/streamX`).

I modified the code to log the `tempFile` in the `commitFile` function in `TopicPartitionWriter.java`, and its output is `s3://myBucket/streamX/topics/+tmp/myTopic/partition=0/tmpFileName`. Where as the `committe

[2016-10-27 00:20] PraveenSeluka commented on #21
Hi @janie128

I am not aware of these block_ files. It must only be creating the tempFile and committedFile. May be, those block_ files are generated by something outside of StreamX ? (Can you check)

Thanks

[2016-10-27 00:27] janie128 commented on #21
Hi @PraveenSeluka
I'm not quite sure how to check to be honest. My guess is that it's produced through however the write operation to HDFS is implemented. I have not been able to find this explicitly in the source code.

Aside from that though, is there a reason you implemented the write to file as directly writing bytes and not strings? Should I not be expecting legible files saved to the `commit

[2016-10-27 07:18] PraveenSeluka commented on #21
Hi @janie128

Just want to cross check this. Did you specify these parameters "key.converter" and "value.converter" in Job request or connect-distributed.properties ? It has to be in connect-distributed.properties (I doubt that this is not set, and hence its picking JsonConverter default and that has issues)

Thanks
Praveen

[2016-10-27 07:22] janie128 commented on #21
Hi @PraveenSeluka

I specified those parameters in `connect-distributed.properties`. And the `format.class` was set in the REST endpoint request.

Thanks,
Janie

[2016-10-27 08:07] PraveenSeluka commented on #21
@janie128 Since ByteArrayConverter along with SourceFormat can copy data as-is, can you try sending some other non JSON message to validate ?

[2016-10-27 10:36] #17 closed

[2016-10-27 18:38] janie128 commented on #21
Hi @PraveenSeluka

I sent simple string messages of `a`, `b`... The committed file is still garbled.
I want to clarify something - since StreamX is writing bytes directly, and there's no conversion to String performed, am I supposed to be able to see string messages in my committed file? Or do I have to do further processing on these files.

Thanks,
Janie

[2016-10-27 23:36] PraveenSeluka commented on #21
Hi @janie128

It will help if you send the following.
- kafka-console-producer command line (this should be using the default ByteArraySerializer for value-serializer)
- connect-distributed.properties
- job config

You dont need any further processing of files, you must be able to see the messages. Can you try running kafka-console-consumer and check if the messages are garbled there ?

Thanks
Pra

[2016-10-28 00:15] PraveenSeluka commented on #20
https://github.com/qubole/streamx/commit/6b740a5b70b2656e7861261f74b40a9722ceebd4 - this commit adds sample hadoop-conf and README is updated with instructions to use this

[2016-10-28 00:15] #20 closed

[2016-10-28 05:48] janie128 commented on #21
Hi @PraveenSeluka

For the producer, I'm using the cli, so running:
`bin/kafka-console-producer.sh --topic myTopic --broker-list $KAFKA_IP:9092`
and then inputting messages such as
`{"schema":{"type":"string","optional":false},"payload":{"res":"1"}}` or most recently, simply `a`, `b`...

connect-distributed.properties:
`bootstrap.servers=$KAFKA_IP:9092`
`group.id=connect-cluster`
`key.converter=co

[2016-10-28 15:45] PraveenSeluka commented on #21
@janie128 all the configs look good. Am wondering what s3 file system are you using. Are you using the old s3 block file system by any chance ? (block_ files may be due to this)

[2016-10-28 17:03] PraveenSeluka commented on #21
@janie128 https://github.com/qubole/streamx/blob/master/config/hadoop-conf/hdfs-site.xml - check this hadoop-conf hdfs-site.xml to use S3AFileSystem. Try that out

[2016-10-28 17:28] janie128 commented on #21
@PraveenSeluka
Yes that was absolutely the problem!
I did not have this
`<name>fs.s3.impl</name>`
`<value>org.apache.hadoop.fs.s3a.S3AFileSystem</value>`
and so it was defaulting to the s3 file system.

It works perfectly fine now, and no `block_` files either.
Thanks very much for your help and for this library!

Best,
Janie

[2016-10-28 17:28] #21 closed

[2016-10-28 17:29] PraveenSeluka commented on #21
ok great to know it works. Thanks for using StreamX

[2016-11-22 09:48] jocelyndrean opened #23 "Parquet and Hive integration - Example job configuration"
Hello Guys,
Thank you so much for this amazing project ! Really a good job :)
I'm really sorry for this stupid issue, but: Is anyone got a configuration example for :
- a job that uses Hive Integration (where the connector creates partitioned hive table and periodically does add partitions once it writes a new partition to s3)
- a job that writing data in Parquet (or Avro) formats

Thank so much f

[2016-11-22 19:02] PraveenSeluka commented on #23
Hi @jocelyndrean

Very happy to know that StreamX helps. Here is a sample configuration
[code]

In general, users like to add hourly partitions. The above config will create a new partition every 3600000  ms (1 hour). It will have "s3://streamx/demo/topics/clickstream/year=2016/month=09/day=21/hour=22/" as directory.

Regarding hive integration, it packages the required hive dependencies. You need

[2016-11-24 10:51] jocelyndrean commented on #23
Hello Praveen,

Thank you so much for your answer. I tested with this configuration and this is working perfectly :)

Amazing job on this project guys ! Thanks !

Jocelyn

[2016-11-24 10:51] #23 closed

[2016-11-29 09:31] jocelyndrean commented on #11
HI @PraveenSeluka , I'm thinking about working on a way to dockerizing Kafka connect + streamx. Is someone already worked on it ? :)

[2016-11-29 17:38] PraveenSeluka commented on #11
HI @jocelyndrean I have done some work on it already. So, I will push those changes soon. You can try it out and add features if necessary.

[2016-11-30 00:52] blbradley commented on #11
@jocelyndrean Confluent released a set of [images](https://github.com/confluentinc/cp-docker-images) for Kafka Platform that are great.

[2016-12-07 22:31] PraveenSeluka opened #24 "Dockerize StreamX"

[2016-12-13 15:50] MMalani opened #26 "After Download Cannot run mvn -DskipTests package"
Get:  Failure to find io.confluent:kafka-connect-avro-converter:jar:3.0.0 - Cannot seem to find the Maven repository with for this version. can someone help?

[2016-12-13 23:52] PraveenSeluka commented on #26
@MMalani I just did a clean and package after cleaning up local .m2 repo. It was able to download it  http://packages.confluent.io/maven/io/confluent/kafka-connect-avro-converter/3.0.0/kafka-connect-avro-converter-3.0.0.pom

Do you any issues accessing Confluent maven repository ?

Thanks

[2016-12-14 10:14] MMalani commented on #26
Thanks .. I did a clean and then package that did not work - but did not clean my .m2 repo -- I will try that next -
I am able too click on the above link and see the pom

fyi this is the error I see Could not resolve dependencies for project com.qubole:streamx:jar:0.1.0-SNAPSHOT: Could not find artifact io.confluent:kafka-connect-avro-converter:jar:3.0.0 in internal-repository (http://nexus.sb.ka

[2016-12-14 16:34] jocelyndrean commented on #24
Hey @PraveenSeluka. Thanks for your PR with Docker :) I will also add a new PR soon to add a new env var "CONNECT_USE_AVRO" (with a default value to false ) to handle avro support if it sounds good for you.
If you have a better name for this var, I take it ! :)

[2016-12-14 16:52] jocelyndrean commented on #26
@MMalani I tried on a fresh new server but didn't get your error.
[code]

[2016-12-14 19:24] PraveenSeluka commented on #24
Hi @jocelyndrean

Use AVRO will replace the key.converter and value.converter properties ? If so, name that CONNECT_KEY_CONVERTER and CONNECT_VALUE_CONVERTER. The convention is to prefix with CONNECT and add the property name itself. This must work right now as it-is.

In addition, this will require schema registry related properties also. Currently the utils.py will only replace existing properti

[2016-12-14 19:27] PraveenSeluka commented on #26
@MMalani am not a Maven expert - it looks like its looking in your internal repo rather than confluent repo. Mostly, this is hinting at some issues in connecting to confluent repo from the machine you are running. (Or is there some sort of restriction in Maven to access internal repos only?)

[2016-12-15 09:10] jocelyndrean commented on #24
What I had in mind:
- add a new file "/config/connect-avro-distributed.properties"
- add a boolean var CONNECT_USE_AVRO to switch from "connect-distributed.properties" to "connect-avro-distributed.properties"
So no need to extend that to add new properties if it does not exist.

What do you think about this approach ?

[2016-12-16 11:20] jocelyndrean commented on #24
@PraveenSeluka, I created a PR : https://github.com/qubole/streamx/pull/27
Please, fell free to merge or to give me some feedback :)

[2016-12-19 19:42] PraveenSeluka commented on #26
@MMalani Am closing this issue as we could not reproduce this in new machine too. (and this looks specific to your environment). Please reopen if you see anything StreamX specific.

[2016-12-19 19:42] #26 closed

[2016-12-19 19:42] PraveenSeluka commented on #24
@jocelyndrean thanks for the PR. Lets take the discussion tehre. I am closing this ticket

[2016-12-19 19:42] #24 closed

[2016-12-21 17:32] MMalani commented on #26
Sorry for not getting back sooner .. Thank you for all your help . It could be my env. I got it working but I had to change the confluent version to :
<confluent.version>3.0.0-hcom-1-SNAPSHOT</confluent.version>

I will try cleaning up my local .m2 to see if it can help

[2016-12-28 14:02] MMalani opened #28 "A question"
in the connect-distributed properties:
bootstrap.servers= can I provide a list of zookeepers servers? or does this have be be kafka server?

thanks,

[2016-12-28 19:29] PraveenSeluka commented on #28
@MMalani this has to be Kafka servers and cant be zookeeper.

[2016-12-28 19:29] #28 closed

[2017-01-16 19:27] dhamilton opened #30 "OutOfMemory error from S3 transfer manager"
Hi, we've been seeing issues where the number of file handles open by the plugin seems to be increasing unbounded and the connector workers all eventually die with stack traces pointing to failure to create threads in the S3 transfer manager. We do see data being uploaded to S3 but I'm wondering if this might be a case where we are consuming faster than we can upload. Has this been observed by any

[2017-01-16 19:40] PraveenSeluka commented on #30
Hi @dhamilton Thanks for reporting it. This seems to be caused due to a bug in s3a where it does not clean up threads, and instead goes on creating worker threads and eventually runs out. We just found this issue and am working on a fix (which is to upgrade AWS SDK)

Meanwhile, you could try using NativeS3FileSystem instead of S3A. I will have this fix soon and you could try it out.

Thanks
Pravee

[2017-01-16 19:47] dhamilton commented on #30
Awesome, thank you so much for the quick reply, we'll try the NativeS3FileSystem for now.

Also just so you're aware we also hit the following issue https://github.com/confluentinc/schema-registry/pull/363 in the schema registry client which blocked us from syncing multiple topics with the same schema. We rebuilt your plugin using confluent version 3.0.1 and kafka version 0.10.0.1 and this issue w

[2017-01-17 08:26] PraveenSeluka commented on #30
@dhamilton Can you try it out now. I have pushed a commit which upgrades the AWS SDK (and hadoop), and this should fix this thread leak issue. Please let us know if this helps. Thanks for using StreamX

Regarding confluent + kafka version upgrade, I will test it out

[2017-01-17 08:33] PraveenSeluka commented on #11
@jocelyndrean I believe you have checked it out already. We added dockerfile to repo, enables you to build streamx image now.

[2017-01-17 08:34] PraveenSeluka commented on #1
Am going to close this, create another JIRA where we will look into adding tests.

[2017-01-17 08:34] #1 closed

[2017-01-17 13:20] blbradley commented on #11
Docker images are a great way to run connectors. I consider this issue closed.

Bring up another issue if the Docker images don't work.

[2017-01-17 13:20] #11 closed

[2017-01-17 15:35] dhamilton commented on #30
Sure, we'll test this out today and let you know what we find.

[2017-01-17 20:22] dhamilton commented on #30
We're seeing the following issue when trying to resume the job. Have you seen this before?

[2017-01-17 20:21:35,124] ERROR Task pixel_events_s3-3 threw an uncaught and unrecoverable exception (org.apache.kafka.connect.runtime.WorkerTask:142)
java.lang.NullPointerException
	at io.confluent.connect.hdfs.HdfsSinkTask.close(HdfsSinkTask.java:110)
	at org.apache.kafka.connect.runtime.WorkerSinkTask.co

[2017-01-17 20:55] dhamilton commented on #30
Just to follow up that exception does not occur when using the NativeS3FileSystem. I've seen it in the past using the S3FileSystem outside of this issue.

[2017-01-17 21:20] PraveenSeluka commented on #30
This usually points to some wrong config related to s3a, check the access/secret keys and the file system impl configs. Task will try creating S3Storage and it fails when there is any hadoop/s3 issues and then it gets into closePartitions flow - which is not the real issue.

[2017-01-18 23:05] PraveenSeluka commented on #30
@dhamilton I have been testing this and hitting number of issues with S3A. In my testing, I dont see any NativeS3FileSystem issues, so I suggest you to use that instead. (I will spend some more time to get check S3A more)

[2017-01-19 03:00] dhamilton commented on #30
Yes we've been having much better luck with NativeS3FileSystem so we'll stick with that for now. Thanks for your help!

[2017-01-24 01:04] zzbennett opened #31 "org.apache.kafka.connect.errors.ConnectException: java.io.FileNotFoundException: File /logs/test-streamx/0/log does not exist"
I was following the quickstart and when I tried starting the connector for the first time, I got this exception:

[code]

I found this statement the HDFS connector doc file:

note: You need to make sure the connector user have write access to the directories
   specified in ``topics.dir`` and ``logs.dir``. The default value of ``topics.dir`` is
   ``/topics`` and the default value of ``logs.dir``

[2017-01-24 01:22] zzbennett commented on #31
Shoot, I realized I had actually forgotten to set the s3.url and hadoop.conf.dir properties so that could have something to do with it.

[2017-01-24 02:07] zzbennett opened #32 "java.lang.NoSuchFieldError: INSTANCE exception, caused by http core version mismatch"
I'm trying to get the s3 connector working but I keep running into this exception when I use the S3AFileSystem (I would use NativeS3FileSystem but for [reasons](http://stackoverflow.com/questions/28024570/org-apache-hadoop-security-accesscontrolexception-permission-denied-when-trying) I need S3a).

[code]

Some cursory googling is indicating that it is related to a version conflict in the apache h

[2017-01-24 19:55] zzbennett commented on #32
This is actually an issue with the httpclient version. After sleuthing around the classpath and maven dependency tree, it appears that the aws-java-sdk-s3 dependency, which in streamx is currently set at 1.11.69, pulls in httpclient version 4.5.1. It seems aws-java-sdk-s3 actually needs to be downgraded? I'm actually not sure how this is working for other folks. Downgrading aws-java-sdk-s3 to vers

[2017-01-24 19:59] PraveenSeluka commented on #32
Hi @zzbennett Sorry to respond late. Yes, we have found multiple issues with S3A (thread leak and httpClient related issues). So far, the experience with using NativeS3FileSystem is very stable. Can you try that out instead ?

[2017-01-24 21:49] PraveenSeluka commented on #31
Hi @zzbennett Did you get past this issue ?

[2017-01-24 22:08] zzbennett commented on #31
I did, but I manually created the file. I'm still not sure if forgetting to set the s3.url and hadoop.conf.dir had something to do with it. If not, then the bug still persists, and if so, then more error handling would be great.

[2017-01-24 22:21] zzbennett commented on #32
Thanks for your reply @PraveenSeluka. I'm not able to use NativeS3FileSystem because it doesn't support aws's temporary security credentials, which is what I'm using. There is a [ticket open](https://issues.apache.org/jira/browse/HADOOP-9680) in the hadoop community to add support for temporary security credentials but they have decided not to implement it as s3a already supports it, and (accordin

[2017-01-24 22:23] PraveenSeluka commented on #32
@zzbennett You are right. They are not going to add the Roles (temp creds) support in S3N and S3A is the way forward. I will look into this issue and get back soon.

[2017-01-24 23:05] zzbennett commented on #32
Regarding the S3 403 error, I resolved that by deleting the access_key and secret_key configs from the hadoop hdfs-site.xml config file. Streamx seems to be working smoothly now. Really the only thing I ended up doing was deleting the aws-java-sdk-s3 dependency from the streamx pom.xml file.

[2017-01-25 00:46] PraveenSeluka commented on #32
Yeah right, you need to remove the keys (or it wont use roles and the keys are invalid). I will add a note for this.

[2017-01-25 00:57] PraveenSeluka commented on #31
Hi @zzbennett This is the side-effect of not passing "s3.url". I will add some config checks to ensure, s3.url and hadoop.conf.dir as mandatory and log and shut down if its not provided.

[2017-01-25 17:53] phillipamann commented on #30
Thanks for this discussion.  I have hit this error as well.

[2017-01-25 18:04] phillipamann opened #33 "Question: Do you regularly merge kafka-connect-hdfs updates to your fork?"
I see there is lots of development that happens with kafka-connect-hdfs.  I have been building a solution with your S3 connector as we are on S3 and not HDFS anymore.  As I continue development before deploying to production (I am working on my own custom partitioner), I would love to have the latest updates from kafka-connect-hdfs as well as the latest updates to your own S3 connector.  What are

[2017-01-25 18:12] PraveenSeluka commented on #33
Hi @phillipamann We want to update it regularly. We have a plan to pull in new changes from kafka-connect-hdfs after every confluent minor release. Does that sound good to you ?

[2017-01-25 19:16] phillipamann commented on #33
Sure (I think...).  Do you have an explicit plan linked somewhere?  I noticed that in your POM, you have older (non minor release) versions of CP and Kafka.  This is why I asked.

[2017-01-25 20:25] PraveenSeluka commented on #33
Ya till now, I have done manual merges whenever I find time or something needs to get pulled in. I have been thinking on this for sometime. Will send out a plan.

[2017-01-25 21:09] phillipamann commented on #33
Is there a way I can contribute?

[2017-01-25 23:01] phillipamann commented on #30
~~I am unable to use NativeS3FileSystem command.  Can you share your setting for how you get this to work?~~  I got this to work.  I will see if I get OutOfMemory now.

[2017-01-27 03:19] phillipamann opened #34 "What is the ideal number for flush.size?"
This is not really clear.  Is there an ideal number to set for flush.size when writing to S3?

[2017-01-28 04:18] dhamilton opened #35 "NullPointerException after recreating Kafka connector"
I have been using the S3 connector with solid results. Unfortunately I tried recreating a Kafka connector and am seeing the following exception being thrown across all the tasks. Do you know what might cause this and any potential workarounds? Thanks.

[2017-01-28 04:13:45,313] ERROR Task pixel_events_s3-3 threw an uncaught and unrecoverable exception (org.apache.kafka.connect.runtime.WorkerTask:1

[2017-01-29 03:41] alunarbeach opened #36 "Add support for GCS"
Add support for Google Cloud Storage.

[2017-01-29 17:43] dhamilton commented on #35
I was just able to get it restarted, not sure what the issue was but I'll close this out.

[2017-01-29 17:43] #35 closed

[2017-02-01 17:34] levin81 opened #37 "Folders as files with $ dollar sign in their name when using s3n"
When using s3n protocol, many "folder" files (sized 0 bytes) are generated along their respective folders with $ in their names, like "all_$folder$".

Some of the folders themselves aren't even created and only these dollar named files are, like "+tmp_$folder$". Even though this is printed in the logs:

[code]

No +tmp directory created :-\ Only the 0 byte file.

Is there an elegant way of stoppin

[2017-02-01 17:45] levin81 opened #38 "NullPointerException when tasks.max > 1 and using s3a"
Loaded kafka-connect distributed on 2 machines (using confluent kafka connect docker image). Configured it to work with streamx, created a job with tasks.max=1 while using s3a (configured in the hdfs-site.xml) - everything works fine.

Whenever I raise the number of tasks to be anything other than 1 I get the following error:

[code]

I tried messing around with all the configurations, including k

[2017-02-01 18:17] PraveenSeluka commented on #38
@levin81 - S3N is stable right now and am testing S3A now. Will have some updates soon for S3A.

[2017-02-01 18:23] PraveenSeluka commented on #34
There is no ideal number actually. Its a trade-off between how soon you need the data in s3 and how big the files you need.

- if you dont need the data quickly, a larger flush.size is preferred. Once the data is in s3, if its used for analytics purpose, its better to have larger files as most analytical engines have issues with small files. (s3 listing can get very expensive when you have 10's of

[2017-02-01 18:38] PraveenSeluka commented on #36
Hi @alunarbeach This is in our roadmap and will be worked on soon. Meanwhile, its not hard to get it working. You will need these steps. Try it out if you need to hack something quickly (will be great if you can contribute too)

- Add GCS Maven dependencies
- Google has their own FileSystem impl for GCS. Look at https://cloud.google.com/hadoop/google-cloud-storage-connector
- You need to change hd

[2017-02-01 18:59] PraveenSeluka commented on #37
I guess there is no easy way to fix this.  From [this](https://hadoop.apache.org/docs/r2.6.1/api/org/apache/hadoop/fs/s3native/NativeS3FileSystem.html) page,

[2017-02-01 23:24] PraveenSeluka commented on #30
Here is the summary of this issue
- Hadoop 2.7/2.6 by default uses AWS SDK 1.7.4. This version of AWS SDK has a thread leak issue(s3-transfer-manager-worker-1 is the thread name). Reported here https://forums.aws.amazon.com/thread.jspa?threadID=83520&tstart=0
- Thread leak issue is fixed and they ask to upgrade to later AWS SDK. So, I picked 1.11.69 version of AWS SDK. (I could confirm that there

[2017-02-01 23:25] PraveenSeluka commented on #38
@levin81 Added a comment to https://github.com/qubole/streamx/issues/30 detailing the s3a issues there.

[2017-02-02 01:15] PraveenSeluka commented on #30
I tried more to get this working.
- I had added `aws-java-sdk-s3` version 1.1.86 (latest version) as maven dependency and been testing that. I just found that the dependency` hadoop-aws` is still pulling the `aws-java-sdk` 1.7.4, so I missed to exclude that. I excluded 1.7.4 and made sure only later version of `aws-java-sdk-s3` is in classpath
- I found the following issue https://issues.apache.or

[2017-02-02 04:24] PraveenSeluka commented on #32
@zzbennett Please look at https://github.com/qubole/streamx/issues/30 for issues related to S3A.

[2017-02-02 04:30] PraveenSeluka commented on #33
@phillipamann it will be great if you could help in merge or adding some tests to StreamX. Both are very important. One thing I want to make sure before the merge is, that its backward compatible with older versions of Kafka/Confluent,

[2017-02-02 12:08] levin81 commented on #37
So the fact that there only appears to be a "+tmp_$folder$" file and no folder by itself is fine?

[2017-02-02 15:37] levin81 commented on #33
Hi, didn't want to open a separate issue for this but I would love the `rotate.schedule.interval.ms` option to be merged from the hdfs connector (implemented in 3.1.x) into streamx.

[2017-02-02 17:50] PraveenSeluka commented on #37
How did you check that there was no +tmp folder, there must be one actually.

[2017-02-02 17:51] PraveenSeluka commented on #33
@levin81 Sure, I will look into upgrading soon.

[2017-02-03 22:12] PraveenSeluka commented on #33
@phillipamann I have done the upgrade and doing some testing. I can push it as a separate branch if you would like to test it out first.

[2017-02-05 10:10] levin81 commented on #37
I looked in the S3 directory. In the beginning there was only the "+tmp_$folder$" file but after a while (few hours) the directory was created. Nevermind :-)

[2017-02-06 16:52] PraveenSeluka commented on #37
This does not seem like an issue, closing it. Reopen if you see it.

[2017-02-06 16:52] #37 closed

[2017-02-07 00:43] PraveenSeluka commented on #33
@phillipamann I have done the upgrade. Can you try it out.

[2017-02-07 02:39] PraveenSeluka commented on #34
@phillipamann can I close this issue or do you need anything else ?

[2017-02-07 02:44] PraveenSeluka commented on #33
I am closing this issue. If you find any issues with upgrade, please file an issue. Thanks

[2017-02-07 02:44] #33 closed

[2017-02-08 17:49] dhamilton opened #39 "Writing Avro data"
We needed to switch our key and value converter from io.confluent.connect.avro.AvroConverter to com.qubole.streamx.ByteArrayConverter to support writing CSV/JSON data to S3. Is there a supported way to write Avro files using this configuration? I tried scheduling the job with "format.class=io.confluent.connect.hdfs.avro.AvroFormat" however this does not work for me.

[2017-02-08 18:11] PraveenSeluka commented on #39
@dhamilton Is the data in Avro format in Kafka ? Or you wanted the JSON to be converted to AVRO ?

If its in Avro format in Kafka, set the converter to use AvroConverter and you will need to provide schema registry details too (not sure if thats optional)

[2017-02-08 18:17] dhamilton commented on #39
Yes the data is in Avro format in Kafka. We managed to get this to work by using "value.converter=io.confluent.connect.avro.AvroConverter" in our properties file but we want to switch to ByteArrayConverter. I tried specifying "value.converter": "io.confluent.connect.avro.AvroConverter" when adding the job, is that correct? This is a piece of the exception I see when I try this:

Caused by: org.apa

[2017-02-08 21:56] PraveenSeluka commented on #36
@alunarbeach I have added GCS support, tested and pushed the changes. Look at this commit https://github.com/qubole/streamx/commit/de065fee48ff1a9cabd8e268318c8f4d99d47718. Please try it out and let us know if you see any issues.

Provide GS destination in "s3.url" config itself. Will refactor StreamX later. (You will have to use S3SinkConnector as if you are using S3 itself and just provide GS lo

[2017-02-09 16:35] dhamilton commented on #39
I managed to track down the issue. I am using Kafka 0.10.0.1 which does not support per-connector converters. Seems that support was added in 0.10.1.0: https://issues.apache.org/jira/browse/KAFKA-3845

[2017-02-09 16:35] #39 closed

[2017-02-09 22:25] phillipamann commented on #34
You may close the issue.  I am sorry for my delay in replying to you lately.  I have been so busy at work with things not related to Kafka Connect.  We'll touch base soon.

[2017-02-09 22:37] PraveenSeluka commented on #34
Sure @phillipamann

[2017-02-09 22:37] #34 closed

[2017-02-09 23:36] PraveenSeluka commented on #31
Closing this issue, this should not happen anymore. StreamX now uses DummyWAL by default (no WAL), and it can be configured to use RDSWAL instead.

[2017-02-09 23:36] #31 closed

[2017-02-10 04:51] alunarbeach commented on #36
Thanks @PraveenSeluka. will try this out soon.

[2017-02-21 22:06] dhamilton opened #40 "NullPointer exception using DBWAL and s3n"
I'm hoping someone might be able to shine some light on this particular issue as we have been having intermittent stability issues pushing Avro files using s3n and the DBWAL and have seen this particular problem several times. After running a connector with 8 tasks for the last 4-5 days, all of tasks started to fail at around the same time with the issue below. When we hit this issue the only way

[2017-06-08 14:30] akshatthakar opened #41 "Error while running copy job in standalone mode"
I running streamx master branch on Apache Kafka .10.0 server and trying to copy Kafka topic messages to s3. I am getting below error in starting connector. I suspect S3 filesystem bucket and key names are not properly passed to underlying APIs.

Command to start--
 ./connect-standalone.sh /app/kafka_2.11-0.10.2.1/config/connect-standalone.properties  /app/streamx/streamx-0.1.0-SNAPSHOT-package/etc

[2017-06-14 22:26] airbots opened #42 "Support Openstack Swift object store"
Openstack Swift is also widely used object store. Many vendors like rackspace, Oracle, etc. It will be nice to support Openstack Swift as well.

[2017-06-23 11:02] thomaska opened #44 "Tests failing?"
I am trying to run the tests locally.
I just cloned the project, ran `mvn test` and I get 35 errors. All of them have to do with a missing `s3_url` configuration. Moreover the stacktrace for one of those errors:
[code]

I have tried adding the `s3.url` in `quickstart-hdfs.properties` with no luck.
Is this a known issue maybe? Am I missing something obvious?

Any help would be greatly appreciated!

[2017-07-05 20:33] jessecollier commented on #44
I came across this too... looks like this very old commit is the trouble maker:
https://github.com/qubole/streamx/commit/fa79dbe3f8b8c8ae390f3316a01c7dee1615369e#diff-c57a69bf802558795c71d33cbeb0a740R33

I suppose this project is rather "dead" and not much consideration for passing tests ...

[2017-07-05 21:04] PraveenSeluka commented on #44
@thomaska yes, the tests need to be fixed. I will get it fixed this week. Other than that, StreamX works fine. Can you skipTests now and follow the README to try out in distributed mode.

[2017-07-05 21:05] PraveenSeluka commented on #42
Hi @airbots Do you have your own deployment of Swift ? if hadoop file system for swift is stable, it will be easy to make it work with StreamX - do you have any experience with that ?

[2017-07-06 14:05] thomaska commented on #44
@PraveenSeluka thanks! Yes this is what I am already doing, but I would like to add some functionality along with some tests and I wasn't able to ran all tests to see if I broke anything. Thanks again!

[2017-07-12 13:00] inneractive-opensrc opened #45 "JSON records to Parquet on S3 won't work"
Hi

I would like to write parquet directly on S3 my events are only JSON string.
Do you know if what I'm trying to do can work ?

In fact I've already tried with this config

**it's actually don't work**

The only error I can see in the log is

Is there any other log output for streamX connector

Thanks

[2017-07-21 16:25] imduffy15 opened #46 "S3 to Kafka"
Any documented approach for getting the dumps from S3 back onto a fresh kafka?

[2017-07-26 15:40] panda87 opened #47 "S3 partition file per hourly batch"
Hi

I'd like to know if there is an option to write one file per partition which means per hour.
For example, if i have 5 workers with 5 tasks, and I run hourly batch, is this plugins would know to aggregate the data to one file per the running batch?

Thanks
D.

[2017-09-16 00:46] lewisdawson opened #48 "`NoSuchMethodError` on Kafka 0.11.0.0"
I have the following configuration:

OS: OS X Sierra
Java: 1.8.0_131
Kafka: 0.11.0.0 installed via Brew

I've compiled streamx off of master. I'm trying to run the connector in standalone and I see the following error:
[code]

Any thoughts?

[2017-09-16 01:08] lewisdawson commented on #48
I'd be willing to bet there were breaking changes in Kafka between 0.11.0.0 and 0.10. Moving to Guava 20.0 fixes this issue:

[code]
There are a whole new set of issues that prevent the connector from starting up properly however.

[2017-09-16 06:03] lewisdawson commented on #46
@imduffy15 This is a S3 sink connector, which means means only Kafka to S3. You would need to use a S3 source connector to get data from S3 to Kafka.

[2017-09-16 20:49] lewisdawson commented on #48
The additional errors I was seeing were indeed due to the fact that this was compiled against Kafka 0.10. I merged in the HDFS 3.3.0 connector, which is compiled against Kafka 0.11, and everything's working. I'll open a pull request.

[2017-09-20 06:47] lewisdawson commented on #45
@inneractive-opensrc This doesn't work because the `io.confluent.connect.hdfs.parquet.ParquetFormat` class expects the source data being read into the formatter to be Avro format, not JSON. If you check out [my fork](https://github.com/lewisdawson/streamx), I've added the ability to convert CSV sourced data to Parquet before uploading to S3, which is very similar to what you want. You'd just need

[2017-11-02 18:20] airbots commented on #42
Yes, I create cloudstream (similar changes as streamx did for s3 based on hdfs connector) for kafka to access swift object store. It is in my github repository.

[2017-11-22 02:24] kireevco opened #54 "What is the suggested way to configure path in s3 bucket?"
I’m trying to stream data and id like to customize path and use the partition key as a variable. Thank you.

[2017-11-22 20:39] kireevco commented on #54
I guess I need to configure hdfs part with fieldPartitioner somehow.

[2017-12-01 06:23] OneCricketeer commented on #54
`topics.dir` is the property name. It defaults to `/topics`

The following path depends on the Partitioner you've configured

[2017-12-01 06:29] OneCricketeer commented on #47
You could use the TimeBasedPartitioner and a rotation interval configured for an hour.

However, this is not recommended for large volume topics and the Connector needs to hold an hour worth of data.

Also, why do you need this? Spark, Presto, Pig, Hive, etc can all read multiple files from an upper level s3 path

[2017-12-01 21:43] OneCricketeer commented on #33
Are you the only one that maintains this @PraveenSeluka ?

[2017-12-05 07:39] tamilhce opened #55 "can we store the data as txt/json format in s3?"
I want  the message published in  kafka topics to be stored in  s3  bucket as  text/json. Can I use StreamX as alternative to Aws Kinesis Firehose delivery stream.The Delivery stream push msg when ever buffer/time reaches the threshold

[2017-12-19 08:05] iskohl opened #56 "Strange problem of Parquet files in S3"
I use streamx to sink kafka data to S3 as parquet files, everything is fine, I can observe the logs, which give me the messages, that the parquet fiiles are generated as expected below,

Dec 19, 2017 8:02:35 AM INFO: org.apache.parquet.hadoop.ColumnChunkPageWriteStore: written 29B for [accessuri] BINARY: 1 values, 6B raw, 8B comp, 1 pages, encodings: [[2017-12-19 08:02:35,933] INFO Committed axa.s

[2018-01-16 17:54] rahulbhatia2702 commented on #39
@PraveenSeluka @dhamilton  do you know if the schema registry is optional if data in kafka is in AVro ??

[2018-01-22 14:57] doriwaldman opened #58 "saving json data , partition by specific field (timestamp)"
I have a question, data in kafka is in json format, in each event I have a field called"eventTimestamp" which is a long number which represents the event time , I want to save the data in s3 in hourly bucket based on that timestamp, not the time the event was added to Kafka

my settings when I used Kafka s3 connect are :

connector.class=io.confluent.connect.s3.S3SinkConnector
storage.class=io.con

[2018-03-09 00:45] anandreddyakidi opened #59 "Not a valid partitioner class: io.confluent.connect.hdfs.partitioner.DefaultPartitioner"
Hi

I am getting below issue while submitting job. Could you please help me on this issue?

{"error_code":400,"message":"Connector configuration is invalid and contains the following 5 error(s):\nNot a valid partitioner class: io.confluent.connect.hdfs.partitioner.DefaultPartitioner\nNot a valid partitioner class: io.confluent.connect.hdfs.partitioner.DefaultPartitioner\nNot a valid partitioner cl

[2018-04-12 11:41] Chintanvpatel commented on #59
Hello @anandreddyakidi

I was facing the same issue. Confluent team has already fix the issue in kafka-connect-hdfs, https://github.com/confluentinc/kafka-connect-hdfs/pull/150

You can rebuild the package with above fix to make it work.

Hope it helps you :)

[2018-07-25 18:51] iShiBin opened #60 "Do I have to set up HDFS in order to use streamX?"
I noticed I have to configure the hadoop config files like core-site.xml, hdfs-site.xml to configure S3.  And I could not find the mentioned config/hadoop-conf in my installation (Kafka 0.10.2.0). So do I have to use HDFS in order to use this streamX?

What I am trying to do is to transform some messages in JSON format to parquet and then store them in S3.

Using spark could achieve this target bu

[2018-08-07 13:57] akshaytgit opened #61 "from kafka(avro format) to S3 (Parquet format)"
**I am trying to export the avro records from kafka and load them into s3 in parquet format.
 I got an exception as shown below.**

ERROR WorkerSinkTask{id=s3-sink-0} Task threw an uncaught and unrecoverable exception (org.apache.kafka.connect.runtime.WorkerTask:172)
java.lang.NullPointerException
	at io.confluent.connect.hdfs.HdfsSinkTask.close(HdfsSinkTask.java:122)
	at org.apache.kafka.connect.

[2018-11-28 09:11] AlexStanovsky opened #62 "AWS Athena connection"
I am interested to Parquet file to S3 files that will be used by AWS Athena.
Athena can use external catalog exported by Glue.

How can I setup this connection ?

[2018-11-28 14:59] AlexStanovsky commented on #59
I am using `confluent-5.0.1` and still having this issue, Any idea on how to resolve it ?

[2018-12-30 09:52] #62 closed

[2019-01-03 02:33] ChaturvediSulabh opened #63 "Update README.md on using AWS IAM ROLES"
I see support added for IAM Roles, but, readme never explains that.

[2019-02-11 17:55] OneCricketeer commented on #60
Kafka is not a Hadoop project, that is why you will not find it there. You must make this folder on your own. An EMR instance, or other EC2 Hadoop-provisioned machine *would have this folder*.

Not exactly, but you need to use a Hadoop *compatibile* filesystem (which S3 is).

Since this project *uses* the Hadoop FileSystem API, you need to just specify the configuration directory with the XML file